
<form class="" action="/students/<%=@student.id%>" method="post" align=center>
  <h1>Edit Student</h1>
  <input type="hidden" name="_method" value="put">
  <h2>firstname</h2>
  <input required type="text" placeholder ="Frank" name=student[firstname] value=<%= @student.firstname%>>
  <h2>lastname</h2>
  <input required type="text" placeholder ="Sinatra" name=student[lastname] value=<%= @student.lastname%>>
  <h2>studentid</h2>
  <input required type="text" placeholder ="12345" name=student[studentid] value=<%= @student.studentid%>>

  <h2>birthday</h2>
  <input required type="date" placeholder ="12-12-1915" name=student[birthday] value=<%= @student.birthday%>>
  <h2>address (MM-DD-YYYY)</h2>
  <input required type="text" placeholder ="California" name=student[address] value=<%= @student.address%>>
  <div>
    <input type="submit" name="save" value="Save">
  </div>
</form>
